<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Media</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
</head>

<body>

<h1 >Welcome to Travel media...Edit page</h1>

<div class="logout-class">
    <form method="POST" id="logoutForm" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
<div class="create-post-class">
    <form method="POST" th:action="@{/post/edit}" id="editPostForm" th:object="${postDto}">
        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Please correct the problems below and resubmit.
            </span>
        </div>

        <input name="id" th:value="${postDto.getId()}" type="hidden"/>

        <label for="statusid">Post a Status</label><br/>
        <textarea name="status" id="statusid" th:text="${postDto.getStatus()}"></textarea><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('status')}"
              th:errors="*{status}">status Error</span>

        <div>
            <label>choose privacy</label>
        </div>
        <div id="choose-id" th:each="privacy : ${privacyDto.getPrivacies()}">
            <div th:if="${privacy.equals(postDto.getPrivacy())}">
                <input name="privacy" type="radio" th:value="${privacy}"  checked/>
            </div>
            <div th:if="${!privacy.equals(postDto.getPrivacy())}">
                <input name="privacy" type="radio" th:value="${privacy}"  />
            </div>
            <span th:text="${privacy}">Public</span>
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('privacy')}"
              th:errors="*{privacy}">privacy Error</span>

        <div th:object="${locationList}">
            <label>Check in</label>
            <select name="location">
                <option th:each="location : ${locationList}" th:text="${location.getName()}"></option>
            </select>
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('location')}"
              th:errors="*{location}">location Error</span>

        <div>
            <input type="submit" value="post"/>
        </div>
    </form>
</div>

</body>
</html>