<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Media</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />-->
    <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/home}">Home</a>
    <a th:href="@{/home/profile}">Profile</a>
    <a th:href="@{/home/friends}">Friends</a>
    <a th:href="@{/logout}">Log Out</a>
    <div class="search-container">
        <form th:action="@{/home/search}">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<br/>
<div class="main-div">
    <div class="create-post-class">
        <a th:href="@{'/post/delete/'+${postDto.getId()}}">Delete?</a>
        <form method="POST" th:action="@{/post/edit}" id="editPostForm" th:object="${postDto}">
            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please correct the problems below and resubmit.
                </span>
            </div>

            <input name="id" th:value="${postDto.getId()}" type="hidden"/>

            <label for="status">Post a Status</label><br/>
            <textarea name="status" id="status" th:text="${postDto.getStatus()}"></textarea>
            <span class="validationError" th:if="${customError.customErrors.containsKey('status')}">Status not empty</span><br/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('status')}"
                  th:errors="*{status}">status Error</span>
            <div class="margin-top-div">
                <label>choose privacy</label>
            </div>
            <div id="choose-id" th:each="privacy : ${privacyDto.getPrivacies()}">
                <div th:if="${privacy.equals(postDto.getPrivacy())}">
                    <input name="privacy" type="radio" th:value="${privacy}"  checked/>
                </div>
                <div th:if="${!privacy.equals(postDto.getPrivacy())}">
                    <input name="privacy" type="radio" th:value="${privacy}"  />
                </div>
                <span th:text="${privacy}">Public</span>
            </div>
            <span class="validationError"
                  th:if="${#fields.hasErrors('privacy')}"
                  th:errors="*{privacy}">privacy Error</span>

            <div class="margin-top-div" th:object="${locationList}">
                <label>Check in</label>
                <select name="location" >
                    <option th:each="location : ${locationList}" th:text="${location.getName()}" th:selected="${location.getName().equals(postDto.getLocation()) }"></option>
                </select>
            </div>
            <span class="validationError"
                  th:if="${#fields.hasErrors('location')}"
                  th:errors="*{location}">location Error</span>

            <div class="margin-top-div">
                <input type="submit" value="post"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>