<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Media</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/home}">Home</a>
    <a th:href="@{/home/profile}">Profile</a>
    <a th:href="@{/home/friends}">Friends</a>
    <a th:href="@{/logout}">Log Out</a>
    <div class="search-container">
        <form th:action="@{/home/search}">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<div class="main-div">
    <h1>Search</h1>
</div>
</body>
</html>